<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/grid.css" />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    <link rel="stylesheet" href="./css/contact.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <span th:text="${checklog}" hidden id="checklog"></span>
      <span th:text="${name}" hidden id="user_name"></span>
      <div class="main__header">
        <span id="checkSl" hidden th:text="${checkSl}"></span>
      </div>
      <div class="content">
        <div class="contact">
          <div class="header__contact">
            <h1>LIÊN HỆ</h1>
          </div>
          <div class="main__contact">
            <div class="contact-item">
              <h3>THÔNG TIN LIÊN HỆ</h3>
              <span
                ><i class="fas fa-map-marker-alt"></i>
                <span
                  >Lầu 5 – Tòa Nhà SCIC, 16 Trương Định, P.6, Q.3, TP.HCM</span
                >
              </span>
            </div>
            <div class="contact-item">
              <h3>GỬI TIN NHẮN CHO CHÚNG TÔI</h3>
              <form action="/lien-he" method="post">
                <div class="form__item">
                  <input type="text" name="" id="" placeholder="Tên" required />
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Số điện thoại"
                    required
                  />
                </div>
                <div class="form__item1">
                  <input type="text" placeholder="Email" required />
                  <textarea
                    name=""
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="Nội dung"
                    required
                  ></textarea>
                </div>
                <button type="submit" class="btn__contact-sub">
                  GỬI TIN NHẮN
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
  <script src="/js/header.js"></script>
  <script>
    const index = Number.parseInt(
      document.querySelector("#checkSl").textContent
    );
    console.log(index);
    newHeader();

    (function () {
      const list = document.querySelectorAll(".navbar__link");
      list[index].classList.add("navbar__item-active");
    })();
  </script>
  <script src="/js/footer.js"></script>
</html>
